<!DOCTYPE html>
<html>
<head>
	<title>boncake 高颜值的甜</title>
	<meta name="author" content="m.jd.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="m.jd.com">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="description" content="高颜值的法式甜蜜在盛夏绽放，浓情似热吻，撩动的不只是你的味蕾。BON CAKE 甜品由设计师用精心筛选优质原料纯手工匠制而成，饱满的法式韵味让人回味无穷。支持预订，送货上门，足不出户体验柔情秋日。" />
    <meta name="Keywords" content="boncake,蛋糕,生日蛋糕" />
	<link rel="stylesheet" href="/public/css/reset.css">
	<link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
	<form action="/login" method="get" accept-charset="utf-8">
		<input type="submit" value="登陆"/>
	</form>
    <a href="/regist" style="font-size: 40px;color:red">注册3</a>
</body>
</html>