<!DOCTYPE html>
<html>
<head>
	<title>boncake 高颜值的甜</title>
	<meta name="author" content="m.jd.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="m.jd.com">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="description" content="高颜值的法式甜蜜在盛夏绽放，浓情似热吻，撩动的不只是你的味蕾。BON CAKE 甜品由设计师用精心筛选优质原料纯手工匠制而成，饱满的法式韵味让人回味无穷。支持预订，送货上门，足不出户体验柔情秋日。" />
    <meta name="Keywords" content="boncake,蛋糕,生日蛋糕" />
	<link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="http://static.91fool.com.cn/mobile/js/lib/swiper/swiper-3.3.1.min.css"/>
	<link rel="stylesheet" href="/public/css/index.css">

    <script src="http://static.91fool.com.cn/public/js/jquery-1.11.3/jquery.min.js"></script>
    <script src="http://static.91fool.com.cn/mobile/js/lib/swiper/swiper-3.3.1.jquery.min.js"></script>

    <style>
        .m-slider-con {
            width: 100%;
            height:auto;
            line-height: 0;
        }
        .m-slider-con img{ width: 100%; }
    </style>
</head>
<body>
<header class="m-header">
    <ul>
        <li>
            <a class="adr-choose">北京</a>
        </li>
        <li>
            <img class="logo" height="42px" src="http://www.boncake.com.cn/public/images/90/16/1d/e8a4ab3a97c359b6da71d79ec53e82ea3d232a76.jpg?1511332049#w" />
        </li>
        <li>
            <a class="cart">车</a>
            <a class="list-btn">list</a>
        </li>
    </ul>
</header>
<main>
    <!-- banner轮播图 top -->
    <section class="slider">
        <div class="swiper-container m-slider-con">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a   href="http://www.shagualicai.cn/8756" data-str="10.aHR0cDovL3d3dy5zaGFndWFsaWNhaS5jbi84NzU2.0">
                        <img src="http://www.boncake.com.cn/public/images/59/44/c6/c3e35ac303b08d0389ee2aa385c75d976aecff7c.jpg?1515658334#w" style="width: 100%" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a   href="http://m.shagualicai.cn/topic/m0717livingspread" data-str="10.aHR0cDovL20uc2hhZ3VhbGljYWkuY24vdG9waWMvbTA3MTdsaXZpbmdzcHJlYWQ=.0">
                        <img src="http://www.boncake.com.cn/public/images/24/fd/89/1a1dab9e529a25e4287479563522c8371ed57570.jpg?1513952879#w" style="width: 100%" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-str="7..399" >
                        <img src="http://www.boncake.com.cn/public/images/9b/47/01/c70806dc5b4a02c7fa30a2877f5333a0d45aa5ee.jpg?1501039048#w" style="width: 100%" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a   href="http://m.shagualicai.cn/topic/m0717livingspread" data-str="10.aHR0cDovL20uc2hhZ3VhbGljYWkuY24vdG9waWMvbTA3MTdsaXZpbmdzcHJlYWQ=.0">
                        <img src="http://www.boncake.com.cn/public/images/92/c3/a8/0055d7ec566562b8472b9637b1bbae38de88b477.jpg?1515166438#w" style="width: 100%" />
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- banner轮播图 end -->
    <!-- 首页产品展示 top -->
    <section class="m-cake-show f-cb">
        <a>
            <figure>
                <img src="http://www.boncake.com.cn/public/images/eb/1f/cb/6175815533f904973740a96633833f39eca0f5dd.jpg?1498814532#h" />
                <figcaption class="m-cake-brief f-cb">
                    <div class="m-cake-brief-left f-fl f-tal">
                        <p>爱情小镇</p>
                        <p>Town of Love</p>
                    </div>
                    <span class="m-cake-brief-right f-fr f-tar"><em>标</em><i>￥</i>318/<i>7寸</i></span>
                </figcaption>
            </figure>
        </a>
        <a>
            <figure>
                <img src="http://www.boncake.com.cn/public/images/eb/1f/cb/6175815533f904973740a96633833f39eca0f5dd.jpg?1498814532#h" />
                <figcaption class="m-cake-brief f-cb">
                    <div class="m-cake-brief-left f-fl f-tal">
                        <p>爱情小镇</p>
                        <p>Town of Love</p>
                    </div>
                    <span class="m-cake-brief-right f-fr f-tar"><em>标</em><i>￥</i>318/<i>7寸</i></span>
                </figcaption>
            </figure>
        </a>
        <a>
            <figure>
                <img src="http://www.boncake.com.cn/public/images/eb/1f/cb/6175815533f904973740a96633833f39eca0f5dd.jpg?1498814532#h" />
                <figcaption class="m-cake-brief f-cb">
                    <div class="m-cake-brief-left f-fl f-tal">
                        <p>爱情小镇</p>
                        <p>Town of Love</p>
                    </div>
                    <span class="m-cake-brief-right f-fr f-tar"><em>标</em><i>￥</i>318/<i>7寸</i></span>
                </figcaption>
            </figure>
        </a>
        <a>
            <figure>
                <img src="http://www.boncake.com.cn/public/images/eb/1f/cb/6175815533f904973740a96633833f39eca0f5dd.jpg?1498814532#h" />
                <figcaption class="m-cake-brief f-cb">
                    <div class="m-cake-brief-left f-fl f-tal">
                        <p>爱情小镇</p>
                        <p>Town of Love</p>
                    </div>
                    <span class="m-cake-brief-right f-fr f-tar"><em>标</em><i>￥</i>318/<i>7寸</i></span>
                </figcaption>
            </figure>
        </a>
        <a>
            <figure>
                <img src="http://www.boncake.com.cn/public/images/eb/1f/cb/6175815533f904973740a96633833f39eca0f5dd.jpg?1498814532#h" />
                <figcaption class="m-cake-brief f-cb">
                    <div class="m-cake-brief-left f-fl f-tal">
                        <p>爱情小镇</p>
                        <p>Town of Love</p>
                    </div>
                    <span class="m-cake-brief-right f-fr f-tar"><em>标</em><i>￥</i>318/<i>7寸</i></span>
                </figcaption>
            </figure>
        </a>
        <a>
            <figure>
                <img src="http://www.boncake.com.cn/public/images/eb/1f/cb/6175815533f904973740a96633833f39eca0f5dd.jpg?1498814532#h" />
                <figcaption class="m-cake-brief f-cb">
                    <div class="m-cake-brief-left f-fl f-tal">
                        <p>爱情小镇</p>
                        <p>Town of Love</p>
                    </div>
                    <span class="m-cake-brief-right f-fr f-tar"><em>标</em><i>￥</i>318/<i>7寸</i></span>
                </figcaption>
            </figure>
        </a>
    </section>
    <!-- 首页产品展示 end -->
</main>
<nav class="bot-nav">
    <ul class="f-cb">
        <li><a>首页</a><i class="f-fr">|</i></li>
        <li><a>所有系列</a><i class="f-fr">|</i></li>
        <li><a>新品发布</a><i class="f-fr">|</i></li>
        <li><a>最新活动</a></li>
    </ul>
</nav>
<script>
    var mySwiper1 = new Swiper ('.m-slider-con', {
        loop: true,
        pagination: '.m-slider-con .swiper-pagination',
        observer:true,
        observeParents:true
    })
</script>
</body>
</html>